<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="row">
  <div class="col-md-8">

      <% @user.favorites.each do |favorite| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to image_tag(favorite.post.user.avatar_url(48)), users_path(favorite.post.user.id)%>
            </h4>
            <h4>
               <%= favorite.post.title %>
               <%= favorite.post.comments.count %>
               <%= favorite.post.votes.count %>
            </h4>
            <h4>

            </h4>
          </div>
        </div>
      <% end %>
  </div>
</div>
