<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="row">
  <div class="col-md-8">
    <p><%= @post.favorite %></p>
      <% @post.favorites.each do |favorite| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to image_tag(known_user.avatar_url), user_path(user.id))%>
            </h4>
            <h4>
               <%= render @comment.count %>
            </h4>
            <h4>
               <%= render @post.count %>
            </h4>
          </div>
        </div>
      <% end %>
  </div>
</div>
